@keyframes notification {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(-90px);
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes clock {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.notification {
  opacity: 0;
  bottom: -100px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: white;
  padding: 20px 50px;
  text-align: center;
  border-radius: 50px;
  animation: notification 0.5s ease-out forwards,
    disappear 0.5s ease-in forwards;
  animation-delay: 0.5s, 2s;
  color: white;
}

.notifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 103px;
  .timeout {
    padding: 15px 25px;
    font-size: 20px;
    background-color: #e74c3c;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 8px;
    animation-name: clock;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .gameNotif {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
  }
}
